In [1]:
import pandas as pd
import os

In [2]:
df=pd.read_csv(r"D:\DATA ANALYTICS\PROJECT\Airline Passenger Data Analysis\Dataset\Airline Dataset.csv")
print("done")

done

In [3]:
df

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Edithe Leggis,On Time
1,43872,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Elwood Catt,On Time
2,42633,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Darby Felgate,On Time
3,78493,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Dominica Pyle,Delayed
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost,On Time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98614,58454,Gareth,Mugford,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12/11/2022,HAA,Gareth Mugford,Cancelled
98615,22028,Kasey,Benedict,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,IVA,Kasey Benedict,Cancelled
98616,61732,Darrin,Lucken,Male,65,Indonesia,Albacete-Los Llanos Airport,ES,Spain,EU,Europe,9/10/2022,ABC,Darrin Lucken,On Time
98617,19819,Gayle,Lievesley,Female,34,China,Gagnoa Airport,CI,Côte d'Ivoire,AF,Africa,10/26/2022,GGN,Gayle Lievesley,Cancelled
98618,14485,Wilhelmine,Touret,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,JOK,Wilhelmine Touret,Delayed

In [4]:
df.head()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Edithe Leggis,On Time
1,43872,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Elwood Catt,On Time
2,42633,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Darby Felgate,On Time
3,78493,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Dominica Pyle,Delayed
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost,On Time

In [5]:
df.shape

(98619, 15)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98619 entries, 0 to 98618
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Passenger ID          98619 non-null  int64
 1   First Name            98619 non-null  object
 2   Last Name             98619 non-null  object
 3   Gender                98619 non-null  object
 4   Age                   98619 non-null  int64
 5   Nationality           98619 non-null  object
 6   Airport Name          98619 non-null  object
 7   Airport Country Code  98619 non-null  object
 8   Country Name          98619 non-null  object
 9   Airport Continent     98619 non-null  object
 10  Continents            98619 non-null  object
 11  Departure Date        98619 non-null  object
 12  Arrival Airport       98619 non-null  object
 13  Pilot Name            98619 non-null  object
 14  Flight Status         98619 non-null  object
dtypes: int64(2), object(13)
memory usage: 11.3+ MB

In [7]:
df.describe(include = 'all')

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
count,98619.000000,98619,98619,98619,98619.000000,98619,98619,98619,98619,98619,98619,98619,98619,98619,98619
unique,NaN,8437,41658,2,NaN,240,9062,235,235,6,6,364,9024,98610,3
top,NaN,Gale,Dyball,Male,NaN,China,San Pedro Airport,US,United States,NAM,North America,7/22/2022,0,Auberon Alennikov,Cancelled
freq,NaN,37,17,49598,NaN,18317,43,22104,22104,32033,32033,325,873,2,32942
mean,55168.689522,NaN,NaN,NaN,45.504021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,25985.443696,NaN,NaN,NaN,25.929849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,10000.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,32608.000000,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,55338.000000,NaN,NaN,NaN,46.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,77695.000000,NaN,NaN,NaN,68.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,99999.000000,NaN,NaN,NaN,90.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.isnull().sum()

Passenger ID            0
First Name              0
Last Name               0
Gender                  0
Age                     0
Nationality             0
Airport Name            0
Airport Country Code    0
Country Name            0
Airport Continent       0
Continents              0
Departure Date          0
Arrival Airport         0
Pilot Name              0
Flight Status           0
dtype: int64

In [9]:
df.nunique()

Passenger ID            59871
First Name               8437
Last Name               41658
Gender                      2
Age                        90
Nationality               240
Airport Name             9062
Airport Country Code      235
Country Name              235
Airport Continent           6
Continents                  6
Departure Date            364
Arrival Airport          9024
Pilot Name              98610
Flight Status               3
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.reset_index(drop=True)
df['flight_id']= df.index + 1

In [12]:
df[['flight_id' , 'Passenger ID']].head(10)

   flight_id  Passenger ID
0          1         10856
1          2         43872
2          3         42633
3          4         78493
4          5         82072
5          6         39630
6          7         11940
7          8         26470
8          9         29447
9         10         75035

In [13]:
df.nunique()

Passenger ID            59871
First Name               8437
Last Name               41658
Gender                      2
Age                        90
Nationality               240
Airport Name             9062
Airport Country Code      235
Country Name              235
Airport Continent           6
Continents                  6
Departure Date            364
Arrival Airport          9024
Pilot Name              98610
Flight Status               3
flight_id               98619
dtype: int64

In [14]:
age_range = [0,5,12,18,35,50,100]
age_categ = ['Baby','Child','Teen','Adult','Middle_aged','Senior_citizen']
df['Age_Category'] = pd.cut(df['Age'], bins = age_range, labels = age_categ)
print('done')

done

In [15]:
df[['Age','Age_Category']]

       Age    Age_Category
0       62  Senior_citizen
1       62  Senior_citizen
2       67  Senior_citizen
3       71  Senior_citizen
4       21           Adult
...    ...             ...
98614   85  Senior_citizen
98615   19           Adult
98616   65  Senior_citizen
98617   34           Adult
98618   10           Child

[98619 rows x 2 columns]

In [16]:
df['Passenger_Full_Name'] = df['First Name'] + ' ' + df['Last Name']
df[['First Name', 'Last Name', 'Passenger_Full_Name']]

       First Name  Last Name Passenger_Full_Name
0          Edithe     Leggis       Edithe Leggis
1          Elwood       Catt         Elwood Catt
2           Darby    Felgate       Darby Felgate
3        Dominica       Pyle       Dominica Pyle
4             Bay    Pencost         Bay Pencost
...           ...        ...                 ...
98614      Gareth    Mugford      Gareth Mugford
98615       Kasey   Benedict      Kasey Benedict
98616      Darrin     Lucken       Darrin Lucken
98617       Gayle  Lievesley     Gayle Lievesley
98618  Wilhelmine     Touret   Wilhelmine Touret

[98619 rows x 3 columns]

In [17]:
df['Departure Date'] = pd.to_datetime(df['Departure Date'])
df['Departure_Year'] = df['Departure Date'].dt.year
df['Departure_Month'] = df['Departure Date'].dt.month
print('done')

done

In [18]:
df[['Departure Date','Departure_Year','Departure_Month']]

      Departure Date  Departure_Year  Departure_Month
0         2022-06-28            2022                6
1         2022-12-26            2022               12
2         2022-01-18            2022                1
3         2022-09-16            2022                9
4         2022-02-25            2022                2
...              ...             ...              ...
98614     2022-12-11            2022               12
98615     2022-10-30            2022               10
98616     2022-09-10            2022                9
98617     2022-10-26            2022               10
98618     2022-04-16            2022                4

[98619 rows x 3 columns]

In [19]:
df.columns

Index(['Passenger ID', 'First Name', 'Last Name', 'Gender', 'Age',
       'Nationality', 'Airport Name', 'Airport Country Code', 'Country Name',
       'Airport Continent', 'Continents', 'Departure Date', 'Arrival Airport',
       'Pilot Name', 'Flight Status', 'flight_id', 'Age_Category',
       'Passenger_Full_Name', 'Departure_Year', 'Departure_Month'],
      dtype='object')

In [20]:
df.columns = df.columns.str.lower()
df.columns

Index(['passenger id', 'first name', 'last name', 'gender', 'age',
       'nationality', 'airport name', 'airport country code', 'country name',
       'airport continent', 'continents', 'departure date', 'arrival airport',
       'pilot name', 'flight status', 'flight_id', 'age_category',
       'passenger_full_name', 'departure_year', 'departure_month'],
      dtype='object')

In [21]:
df.columns = df.columns.str.replace(' ','_')
df.columns

Index(['passenger_id', 'first_name', 'last_name', 'gender', 'age',
       'nationality', 'airport_name', 'airport_country_code', 'country_name',
       'airport_continent', 'continents', 'departure_date', 'arrival_airport',
       'pilot_name', 'flight_status', 'flight_id', 'age_category',
       'passenger_full_name', 'departure_year', 'departure_month'],
      dtype='object')

In [22]:
df[['airport_continent','continents']]

      airport_continent     continents
0                   NAM  North America
1                   NAM  North America
2                    EU         Europe
3                   NAM  North America
4                   NAM  North America
...                 ...            ...
98614                EU         Europe
98615                AF         Africa
98616                EU         Europe
98617                AF         Africa
98618                EU         Europe

[98619 rows x 2 columns]

In [23]:
df=df.drop('airport_continent',axis=1)
print('done')

done

In [24]:
df

,passenger_id,first_name,last_name,gender,age,nationality,airport_name,airport_country_code,country_name,continents,departure_date,arrival_airport,pilot_name,flight_status,flight_id,age_category,passenger_full_name,departure_year,departure_month
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,North America,2022-06-28,CXF,Edithe Leggis,On Time,1,Senior_citizen,Edithe Leggis,2022,6
1,43872,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,North America,2022-12-26,YCO,Elwood Catt,On Time,2,Senior_citizen,Elwood Catt,2022,12
2,42633,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,Europe,2022-01-18,GNB,Darby Felgate,On Time,3,Senior_citizen,Darby Felgate,2022,1
3,78493,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,North America,2022-09-16,YND,Dominica Pyle,Delayed,4,Senior_citizen,Dominica Pyle,2022,9
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,North America,2022-02-25,SEE,Bay Pencost,On Time,5,Adult,Bay Pencost,2022,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98614,58454,Gareth,Mugford,Male,85,China,Hasvik Airport,NO,Norway,Europe,2022-12-11,HAA,Gareth Mugford,Cancelled,98615,Senior_citizen,Gareth Mugford,2022,12
98615,22028,Kasey,Benedict,Female,19,Russia,Ampampamena Airport,MG,Madagascar,Africa,2022-10-30,IVA,Kasey Benedict,Cancelled,98616,Adult,Kasey Benedict,2022,10
98616,61732,Darrin,Lucken,Male,65,Indonesia,Albacete-Los Llanos Airport,ES,Spain,Europe,2022-09-10,ABC,Darrin Lucken,On Time,98617,Senior_citizen,Darrin Lucken,2022,9
98617,19819,Gayle,Lievesley,Female,34,China,Gagnoa Airport,CI,Côte d'Ivoire,Africa,2022-10-26,GGN,Gayle Lievesley,Cancelled,98618,Adult,Gayle Lievesley,2022,10
98618,14485,Wilhelmine,Touret,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,Europe,2022-04-16,JOK,Wilhelmine Touret,Delayed,98619,Child,Wilhelmine Touret,2022,4

In [25]:
df.to_csv(r"D:\DATA ANALYTICS\PROJECT\Airline Passenger Data Analysis\Dataset\Cleaned Airline Dataset.csv", index = False)
print('done')

done

In [26]:
import sqlalchemy

In [27]:
from sqlalchemy import create_engine

username = "root"
password = "Amu13#tha"
host = "localhost"
port = 3306
database = "airline_dataset"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

table_name = "airline_data"
df.to_sql(table_name, engine, if_exists = "replace", index = False)

print("Data loaded into mysql sucessfully")

Data loaded into mysql sucessfully

In [28]:
df.nunique()

passenger_id            59871
first_name               8437
last_name               41658
gender                      2
age                        90
nationality               240
airport_name             9062
airport_country_code      235
country_name              235
continents                  6
departure_date            364
arrival_airport          9024
pilot_name              98610
flight_status               3
flight_id               98619
age_category                6
passenger_full_name     98610
departure_year              1
departure_month            12
dtype: int64